/**
 *  Index.css
 */

/* red: rgb(111,0,17)  #6f0011 */
/* grey: rgb(158,159,153)  #9e9f99*/
/* navy: rgb(36,39,51)  #242733*/



/*************************/
/*         Main          */
/*************************/

#main {
  margin-top: 60px;
}

/*************************/
/*      ProductApp       */
/*************************/

#ProductApp {
  padding: 20px;
}

#productInfo {
  display: -webkit-flex;
  display: flex;
}

/**
 *  productShow
 */

#productShow {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 55%;
  margin-right: auto;
}

#productShow > img {
  max-width: 100%;
}

/**
 *  productSelect
 */

#productSelect {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 43%;
  margin-left: auto;
  padding: 0px 5px;
}

/* productSelect > header */

#productSelect > header {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#productPrice {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: auto;
  padding-bottom: 10px;
}

#productSelect > div {
  margin: 20px 0px;
  padding: 0px 10px;
}

/* ProductPrice */
#productPrice > h1 {
  position: relative;
}

#productPrice > h1::before {
  content: "NT$";
  position: absolute;
  top: 0;
  left: -35px;
  font-size: 1rem;
}

.colorSelect:hover, .sizeSelect:hover {
  cursor: pointer;
}

.colorSelect {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  padding: 2px;
}

.colorSelect > div {
  width: 100%;
  height: 100%;
}

.colorSelect.focus {
  border: 1px solid black;
}

.sizeSelect {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: lightgrey;
}

.sizeSelect.focus {
  color: white;
  background-color: gray;
}

/* discountInfo */
#discountInfo {
  color: gray;
  text-decoration: underline;
}

#productNumber {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

#productNumber > span {
  color: gray;
}

/* BuyCount */

.buyCount {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 30px;
  height: 30px;
  padding: 0px;
  text-align: center;
  border: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.buyCountSub, .buyCountAdd {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 15px;
  height: 30px;
  background-color: lightgrey;
  border: 1px solid gray;
}

.buyCountSub:hover, .buyCountAdd:hover {
  cursor: pointer;
}

.buyCountSub {
  margin-right: 0px;
}

.buyCountAdd {
  margin-left: 0px;
}

.buyCountSub::after {
  content: "-";
}

.buyCountAdd::after {
  content: "+";
  font-size: 0.6em;
}

#shoppingCartAdd {
  margin-left: 20px;
  padding: 8px 30px;
  color: #FFFBEF;
  background-color: #6F452D;
}

#shoppingCartAdd:hover {
  cursor: pointer;
}

/*************************/
/*       OrderApp        */
/*************************/

#OrderDetail {
  padding: 20px;
}

#OrderDetail .table {
  width: 100%;
}

#OrderDetail .table-cell {
  height: 100px;
  border-bottom: 1px solid gray;
}

#OrderDetail .table-cell > .fa-trash-o:hover {
  cursor: pointer;
}

/* Image */
#OrderDetail .table-cell:nth-child(1) {
  width: 15%;
}
/* Product Name */
#OrderDetail .table-cell:nth-child(2) {
  width: 30%;
}
/* Color-Size */
#OrderDetail .table-cell:nth-child(3) {
  width: 15%;
}
/* Number */
#OrderDetail .table-cell:nth-child(4) {
  width: 15%;
}
/* Total */
#OrderDetail .table-cell:nth-child(5) {
  width: 15%;
}

#OrderDetail .table-cell:nth-child(6) {
  width: 10%;
}
