/**
 *  Index.css
 */

/* red: rgb(111,0,17)  #6f0011 */
/* grey: rgb(158,159,153)  #9e9f99*/
/* navy: rgb(36,39,51)  #242733*/



/*************************/
/*         Main          */
/*************************/

#main {
  margin-top: 60px;
}

/*************************/
/*      ProductApp       */
/*************************/

#ProductApp {
  padding: 20px;
}

#productInfo {
  display: -webkit-flex;
  display: flex;
}

/**
 *  productShow
 */

#productShow {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 55%;
  margin-right: auto;
}

#productShow > img {
  max-width: 100%;
  width: -moz-available;
}

/**
 *  productSelect
 */

#productSelect {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 43%;
  margin-left: auto;
  padding: 0px 0px;
}

/**
 *  productSelect > header
 */

#productSelect > header {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#productSelect > div {
  margin: 20px 0px;
  padding: 0px 10px;
}

/* productPrice */
#productPrice {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: auto;
  padding-bottom: 10px;
}

#productPrice > h1 {
  position: relative;
}

#productPrice > h1::before {
  content: "NT$";
  position: absolute;
  top: 0;
  left: -35px;
  font-size: 1rem;
}

/**
 *  colorSelect
 */

.colorSelect:hover, .sizeSelect:hover {
  cursor: pointer;
}

.colorSelect {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  padding: 2px;
}

.colorSelect > div {
  width: 100%;
  height: 100%;
}

.colorSelect.focus {
  border: 1px solid black;
}

/**
 *  sizeSelect
 */

.sizeSelect {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: lightgrey;
}

.sizeSelect.focus {
  color: white;
  background-color: gray;
}

/**
 *  discountInfo
 */

#discountInfo {
  line-height: 1.6;
  color: gray;
  text-decoration: underline;
}

#productNumber {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

#productNumber > span {
  color: gray;
}

/**
 *  buyCount
 */

.buyCount {
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 30px;
  height: 30px;
  padding: 0px;
  text-align: center;
  border: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.buyCountSub, .buyCountAdd {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 15px;
  height: 30px;
  background-color: lightgrey;
  border: 1px solid gray;
}

.buyCountSub:hover, .buyCountAdd:hover {
  cursor: pointer;
}

.buyCountSub {
  margin-right: 0px;
}

.buyCountAdd {
  margin-left: 0px;
}

.buyCountSub::after {
  content: "-";
}

.buyCountAdd::after {
  content: "+";
  font-size: 0.6em;
}

#shoppingCartAdd {
  margin-left: 20px;
  padding: 8px 30px;
  color: #FFFBEF;
  background-color: #6F452D;
}

#shoppingCartAdd:hover {
  cursor: pointer;
}

/*************************/
/*       OrderApp        */
/*************************/

#OrderApp > header,
#orderDetail,
#orderBuyerInfo {
  padding: 30px;
  border: 2px ridge rgba(100, 100, 100, 0.3);
  border-radius: 10px;
}

/**
 *  OrderApp > header
 */

#OrderApp > header {
  margin-bottom: 30px;
  padding: 20px 40px;
}

#orderId {
  display: inline-block;
  color: red;
  font-weight: bold;
}

/**
 *  Loading
 */
#loadingBlock {
  position: absolute;
  /*position: fixed;*/
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#loadingBlock > div {
  padding: 25px 60px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

#loadingBlock .loadingInfo {
  margin-bottom: 20px;
}

#loadingBlock i {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#loadingBlock .fa-spinner {
  color: rgba(50, 50, 50, 1);

  -webkit-animation: spinner-animation 2s infinite;
  -moz-animation: spinner-animation 2s infinite;
  -ms-animation: spinner-animation 2s infinite;
  -o-animation: spinner-animation 2s infinite;
  animation: spinner-animation 2s infinite;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#loadingBlock .fa-check-circle {
  color: green;
}

#loadingBlock .fa-times-circle {
  color: red;
}

@-webkit-keyframes spinner-animation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner-animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes spinner-animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes spinner-animation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**
 *  OrderDetail
 */

#orderDetail {
}

#orderDetail .table {
  width: 100%;
}

#orderDetail .table-cell {
  height: 100px;
  padding: 15px 0px;
  border-bottom: 1px inset gray;
}

/**
 *  OrderDetail Header
 */

#orderDetailHeader {
  color: gray;
  font-size: 0.8em;
}

#orderDetailHeader > .table-cell {
  height: 30px;
}

/**
 *  OrderDetail Items
 */

#orderDetail .table-cell > .fa-trash-o:hover {
  cursor: pointer;
}

/* Image */
#orderDetail .table-cell:nth-child(1) {
  width: 15%;
}
/* Product Name */
#orderDetail .table-cell:nth-child(2) {
  width: 30%;
}
/* Color-Size */
#orderDetail .table-cell:nth-child(3) {
  width: 15%;
}
/* Number */
#orderDetail .table-cell:nth-child(4) {
  width: 15%;
}
/* Total */
#orderDetail .table-cell:nth-child(5) {
  width: 15%;
}

#orderDetail .table-cell:nth-child(6) {
  width: 10%;
}

/**
 *  OrderDetail Footer
 */

#orderDetailFooter {
  width: 100%;
  height: 200px;
}

#orderDetailFooter > div {
  margin-right: 130px;
  text-align: right;
}

#orderDetailInfo, #orderDetailTotal {
  padding-left: 30px;
}

#orderDetailInfo .item-total,
#orderDetailTotal .item-total {
  display: inline-block;
  width: 150px;
}

#orderDetailTotal .item-total > span {
  color: red;
  font-size: 1.5em;
}

.item-total > span:nth-child(2) {
  display: inline-block;
  width: 80px;
}

#orderDetailInfo {
  border-bottom: 1px inset gray;
}

#orderDetailInfo > div {
  margin: 15px 0px;
}

#orderDetailTotal {
  margin-top: 15px;
}

/**
 *  OrderBuyerInfo
 */

#orderBuyerInfo {
  margin: 30px auto;
  color: rgba(100, 100, 100, 1);
}

#orderBuyerInfo > header {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px inset gray;
}

#orderBuyerInfo > header > i {
  margin: 0px 15px;
}

#orderBuyerInfo > header > * {
  display: inline-block;
}

#orderBuyerInfo > article {
  width: 750px;
  margin: 0 auto;
}

#orderBuyerInfo > article > div {
  margin: 20px 0px;
}

#orderBuyerInfo > article > div > * {
  display: inline-block;
}

#orderBuyerInfo > article input[type="text"] {
  width: 300px;
  margin: 0px 20px;
  padding: 8px;
  font-size: 1.1em;
  border: 2px solid #dcdcdc;

  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -ms-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

#orderBuyerInfo > article input[type="text"]:focus {
  border: 2px solid rgba(111, 69, 45, 0.6);
  box-shadow: 0 0 3px 1px #6F452D;
}

.fa-check-circle {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.fa-check-circle.pass {
  color: green;
}

/**
 *  OrderAction
 */

#orderAction {
  margin: 0 auto;
}

#orderAction > div {
  display: inline-block;
  width: 170px;
  margin: 0px 20px;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #6F452D;

  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

#orderAction > div:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px #6F452D;
}
